<h1>Parks#new</h1>
<p>Find me in app/views/parks/new.html.erb</p>

<h1> Form to enter new records </h1>
<%= form_for @park, url: {action: "create"} do |t| %>

<div>
  <%= t.label :name, 'Name of Park' %>
  <%= t.text_field :name %>
</div>
<div>
  <%= t.label :description, 'Description' %>
  <%= t.text_area :description %>
</div>

<div>
  <%= t.label :picture, 'URL of image' %>
  <%= t.text_field :picture %>
</div>
<%= t.submit %>
<% end %>
